# This is a basic workflow to help you get started with Actions

name: CreateEc2Terraform

# Controls when the workflow will run
on:
  # # Triggers the workflow on push or pull request events but only for the "master" branch
  # push:
  #   branches: [ "master" ]
  # pull_request:
  #   branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  terraform:
      name: Terraform
      runs-on: ubuntu-latest
      defaults:
        run:
          working-directory: ./terraform
      env:
        AWS_REGION: us-east-1
      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v3
          with:
            terraform_version: 1.6.6

        - name: Configure AWS Credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: us-east-1

        - name: Terraform Init
          run:  terraform init

        # - name: Terraform Format Check
        #   run: cd GITHUB_ACTION_PATH/terraform  &&  terraform fmt -check

        # - name: Terraform Validate
        #   run: terraform validate

        - name: Terraform Plan
          run: terraform plan --var-file="terraform.tfvar"
          
        - name: Terraform apply
          run: terraform apply --var-file="terraform.tfvar" -auto-approve

          
