name: Build and Push Docker Image to ECR

on:
#   push:
#     branches: [ "master" ]
#   pull_request:
#     branches: [ "master" ]

 workflow_dispatch:
env:
  IMAGE_TAG: ${{ github.sha }}
jobs:

  build:

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.ECR_REPOSITORY }}:${IMAGE_TAG} .

      - name: Tag Docker image
        run: |
          docker tag ${{ secrets.ECR_REPOSITORY }}:${IMAGE_TAG} \
          ${{ steps.login-ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY }}:${IMAGE_TAG}

      - name: Push Docker image to ECR
        run: |
          docker push ${{ steps.login-ecr.outputs.registry }}/${{ secrets.ECR_REPOSITORY }}:${IMAGE_TAG}
    # steps:
    # - uses: actions/checkout@v4
    # - name: Build the Docker image
    #   # run: cd docker && ls
    #   run: cd docker && docker build . --file Dockerfile --tag 980637429038.dkr.ecr.us-east-1.amazonaws.com/sspc-ecr:latest
