name: Docker Image CI

on:
#   push:
#     branches: [ "master" ]
#   pull_request:
#     branches: [ "master" ]

 workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      # run: cd docker && ls
      run: cd dcoker && docker build . --file Dockerfile --tag 980637429038.dkr.ecr.us-east-1.amazonaws.com/sspc-ecr:latest
